* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

img {
    margin-right: 6px;
}

.text {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    text-align: left;
}

.text h1 {
    font-size: 12px;
    font-weight: 400;
}

.text h1, .text p {
    margin-bottom: 6px;
}

.text .plaseholder {
    color: #B1B1B1;
}